body 
{
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  height: 100%;
  background-image: url('https://i.ibb.co/WpFDnmP/join-us-bg-sk8.png');
  background-size: cover;
  font-weight: 100;
}

.flex-container 
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

h1
{
  margin: 0;
  font-size: 300px;
  line-height: 400px;
  font-weight: 100;
}

p 
{
  margin: 0;
  font-size: 50px;
}

span.user-count
{
	color: #202221;
}

.form 
{
	line-height: 1.5;
	border: none;
	border-bottom: 3px solid #202221;
	margin-top: 100px;
	width: 700px;
	font-size: 2.9em;
	color: #202221;
	padding: 5px 10px;
	background: transparent;
}

button 
{
    line-height: 2.0; 
	border: none;
    font-size: 1.9em;
    color: #ffffff;
    padding: 5px 30px;
    background: linear-gradient(#638fb3, #1e619d);
    border-radius: 5px;
	cursor: pointer;
    opacity: 1;
}

::-webkit-input-placeholder 
{ /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.8);
}

input[type=text]:focus 
{
  outline: none;
}

button:hover
{
  opacity: 0.8;
}